

<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url('assets/images/background-cover.jpg')">
  <canvas id="canvas_sakura" height="778" width="1500" style="position: absolute; left: 0; top: 0; pointer-events: none;"></canvas>
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a><img src="assets\images\avatar.jpg" width="150" height="150" alt="{{ site.title }} logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a>{{ site.title }}</a></h1>
        {% if site.subtitle %}
        <span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
        {% endif %}
        
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
        
        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                {% for item in site.nav %}
                  <li class="navigation__item"><a href="{{item.url}}" target="_blank" title="{{item.description}}">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          

        </div>
      </div>
    </div>
    
    {% if site.cover_color %}
    <div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
    {% else %}
    <div class="panel-cover--overlay cover-disabled"></div>
    {% endif %}
  </div>
</header>

<div class="container mt-sm-5 mt-3">
  <div class="row pt-lg-6">
      <div class="col-lg-3">
          <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
              <h3>Records</h3>
              <h6 class="text-secondary font-weight-normal pe-3">Some photos can be seen here!</h6>
          </div>
      </div>
      <div class="col-lg-9">
          <div class="row mt-3">
              <div class="col-md-4">
                  <a href="">
                      <div class="card shadow-lg move-on-hover max-height-160">
                          <img class="w-100 m-auto" src="./assets/img/qianshou1.jpg" alt="">
                      </div>
                      <div class="mt-2 ms-2">
                          <h6 class="mb-0">06.10.2022</h6>
                          <p class="text-secondary text-sm">IN KFC</p>
                      </div>
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="">
                      <div class="card shadow-lg move-on-hover max-height-160">
                          <img class="w-100 m-auto" src="./assets/img/qianshou2.jpg" alt="">
                      </div>
                      <div class="mt-2 ms-2">
                          <h6 class="mb-0">06.10.2022</h6>
                          <p class="text-secondary text-sm">IN XI JIE</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>