<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    {% include side-panel.html %}

    <!-- <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %} -->
    <div class="container mt-sm-5 mt-3">
      <div class="row pt-lg-6">
          <div class="col-lg-3">
              <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                  <h3>Records</h3>
                  <h6 class="text-secondary font-weight-normal pe-3">Some photos can be seen here!</h6>
              </div>
          </div>
          <div class="col-lg-9">
              <div class="row mt-3">
                  <div class="col-md-4">
                      <a href="">
                          <div class="card shadow-lg move-on-hover max-height-160">
                              <img class="w-100 m-auto" src="./assets/img/qianshou1.jpg" alt="">
                          </div>
                          <div class="mt-2 ms-2">
                              <h6 class="mb-0">06.10.2022</h6>
                              <p class="text-secondary text-sm">IN KFC</p>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4">
                      <a href="">
                          <div class="card shadow-lg move-on-hover max-height-160">
                              <img class="w-100 m-auto" src="./assets/img/qianshou2.jpg" alt="">
                          </div>
                          <div class="mt-2 ms-2">
                              <h6 class="mb-0">06.10.2022</h6>
                              <p class="text-secondary text-sm">IN XI JIE</p>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </body>

</html>
